############################################
# ERPNext Version
############################################

FRAPPE_VERSION=v15.58.4
CUSTOM_TAG=v15.58.4


############################################
# Site Configuration
############################################

SITE_NAME=erp.hspdiamonds.com

FRAPPE_SITE_NAME_HEADER=erp.hspdiamonds.com

TZ=Asia/Kolkata


############################################
# Database Configuration
############################################

DB_HOST=db
DB_PORT=3306

DB_NAME=erp_hspdiamonds

DB_USER=erpuser
DB_PASSWORD=ErpUser@Hsp#2026!Strong

MYSQL_ROOT_PASSWORD=DbRoot@Hsp#2026!Secure


############################################
# Administrator Credentials
############################################

ADMIN_PASSWORD=Hsp@2026#AdminSecure!9


############################################
# Redis Configuration
############################################

REDIS_CACHE=redis-cache:6379
REDIS_QUEUE=redis-queue:6379
REDIS_SOCKETIO=redis-socketio:6379


############################################
# HTTP Configuration
############################################

HTTP_PORT=8080


############################################
# Custom App Configuration
############################################

CUSTOM_APP_NAME=hspdiamonds

CUSTOM_APP_REPO=git@github.com:conceptivecon/jewelry-erp.git

CUSTOM_APP_BRANCH=main


############################################
# Worker Configuration
############################################

WORKER_SHORT=1

WORKER_LONG=1


############################################
# Production Flags
############################################

RESTART_POLICY=always

PRODUCTION=1
