[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
skip-innodb-read-only-compressed
skip-name-resolve
max_allowed_packet = 64M
max_connections = 200
innodb_buffer_pool_size = 4G
innodb_log_file_size = 512M
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table = 1
