CUSTOM_IMAGE=frappe/erpnext
CUSTOM_TAG=v15.58.4

SITE_NAME=erp.hspdiamonds.com
SITE_DB_NAME=erp_hspdiamonds_com
ADMIN_PASSWORD=REPLACE_WITH_STRONG_ADMIN_PASSWORD
MYSQL_ROOT_PASSWORD=REPLACE_WITH_STRONG_MYSQL_ROOT_PASSWORD

DB_HOST=db
DB_PORT=3306
REDIS_CACHE=redis://redis-cache:6379
REDIS_QUEUE=redis://redis-queue:6379
REDIS_SOCKETIO=redis://redis-socketio:6379
SOCKETIO_PORT=9001

GUNICORN_WORKERS=3
WORKER_SHORT_CONCURRENCY=1
WORKER_LONG_CONCURRENCY=1
